body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #082105;
  font-family: "quicksand", sans-serif;
}
h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
}
.wrapper {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.itemForm {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}
.itemForm select,
input,
button {
  border-radius: 0.5rem;
  border: none;
  color: #082105;
}
.itemForm select {
  font-family: "quicksand", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
}
.itemForm input {
  font-family: "quicksand", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  width: 40%;
}
.itemForm button {
  font-family: "quicksand", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 15px;
}
input[type="checkbox"] {
  width: 2rem;
  height: 35px;
  accent-color: #082105;
}
.trash-can {
  color: #082105;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.list ul {
  list-style: none;
  width: 60%;
  padding: 0;
  margin: 2rem;
  display: grid;
  gap: 2rem;
}
.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  width: 25px;
  height: 35px;
  font-size: 26px;
}
.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.clearBtn button {
  font-family: "quicksand", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 1rem;
}
.footer {
  text-align: center;
  color: #fff;
}
